<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estrutura inicial</title>
     <!-- Importação do CSS -->
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Testando estrutura do projeto</h1>
        <button class="btn" id="helloBtn">Clique Aqui!</button>
        <div class="counter">Total de mensagens: <span id="counter">0</span></div>
        <div class="messages" id="messagesContainer">
            <!-- As mensagens serão adicionadas aqui -->
        </div>
    </div>
    
    <footer>
        Clique no botão para adicionar uma mensagem "Olá Mundo"
    </footer>
</body>
<script src="/static/script.js"></script>
</html>